<web-app>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
</web-app>
